/* Header */
header {
  background-color: $color-bg-header;
  display: flex;
  height: auto;
}

/* Menu block */

.navbar-custom {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-button-custom:hover {
  background-color: $color-text-hover;
}

ul {
  text-align: center;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
  @include responsive(sm) {
    line-height: 30px;
  }
  @include responsive(md) {
    line-height: 30px;
  }
  @include responsive(lg) {
    line-height: 90px;
  }
}

ul li {
  display: inline;
}

/* Menu items */
li a {
  color: $color-text-light;
  @include responsive(sm) {
    padding: 10px 5px;
  }
  @include responsive(md) {
    padding: 10px 5px;
  }
  @include responsive(lg) {
    padding: 36px 5px;
  }
}

/* Menu items on hover */
li a:hover {
  color: $color-text-hover;
  text-decoration: none;
}

/* Search block in header */
.search {
  display: inline-block;
  text-align: right;
  position: relative;
  padding: 0;
}

.search-input {
  display: none;
  float: right;
  background-color: $color-bg-header;
  color: $color-text-light;
  width: 70%;
  min-height: 17px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input:target {
  display: block;
}

/* Search icon in header */
.search i {
  padding: 36px 0 36px 36px;
  color: $color-icon;
  font-size: 17px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Search icon on hover in header */
.search i:hover {
  color: $color-text-hover;
}
