/* Header */
header {
  background-color: $color-bg-header;
  display: flex;
  height: auto;
}

/* Menu block */
ul {
  line-height: 90px;
  text-align: center;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
}

ul li {
  display: inline;
}

/* Menu items */
li a {
  color: $color-text-light;
  padding: 36px 5px;
}

/* Menu items on hover */
li a:hover {
  color: $color-text-hover;
  text-decoration: none;
}

/* Search block in header */
.search {
  display: inline-block;
  text-align: right;
  position: relative;
  padding: 0;
}

.search-input {
  display: none;
  float: left;
  background-color: $color-bg-header;
  color: $color-text-light;
  width: 70%;
  min-height: 17px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input:target {
  display: block;
}

/* Search icon in header */
.search i {
  padding: 36px 0 36px 36px;
  color: $color-icon;
  font-size: 17px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Search icon on hover in header */
.search i:hover {
  color: $color-text-hover;
}
