/* Header */
header {
  background-color: $color-bg-header;
  display: flex;
  height: auto;
}

/* Menu block */

.navbar-custom {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-button-custom:hover {
  background-color: $color-text-hover;
}

ul {
  text-align: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0 auto;
  @include responsive(sm) {
    line-height: 30px;
  }
  @include responsive(md) {
    line-height: 30px;
  }
  @include responsive(lg) {
    line-height: 90px;
  }
}

ul li {
  display: inline;
}

/* Menu items */
li a {
  color: $color-text-light;
  @include responsive(sm) {
    padding: 10px 5px;
  }
  @include responsive(md) {
    padding: 10px 5px;
  }
  @include responsive(lg) {
    padding: 36px 5px;
  }
}

/* Menu items on hover */
li a:hover {
  color: $color-text-hover;
  text-decoration: none;
}
