/* Main */
main .container {
  display: flex;
  box-sizing: content-box;
  flex-wrap: nowrap; /*!!!wrap!!!!!!!!!!!!!!!!!!!*/
}

/* Pagination*/
.pagination {
  display: inline-flex;
  margin: 0 auto 78px auto;
  justify-content: center;
  .current .pag {
    background-color: $color-text-dark;
    color: $color-text-light;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.pag {
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}
