/* Articles or posts*/
.article {
  width: 770px;
  height: 560px;
  display: flex;
  margin-bottom: 60px;
}

/*Responsive Images in the articles*/
.article img {
  position: relative;
  width: 100%;
  height: auto;
}

/*Articles block */
.article_description {
  position: absolute;
  width: 730px;
  height: 249px;
  margin: 311px 20px 120px 20px;
  opacity: 1;
  background-color: $color-bg-article;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: auto 20px 0 20px;
  z-index: 1;
  float: left;
}

/* Articles title*/
.article_description h6 {
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  padding-top: 72px;
  padding-left: 30px;
}

/* Articles author*/
.article_description p {
  font-style: italic;
  padding-top: 15px;
  padding-left: 30px;
}

/* Articles short description*/
p.article_short {
  line-height: 24px;
  font-style: $font-style;
  color: $color-text-article;
  padding: 15px 86px 30px 30px;
}
