/* Hero articles on top*/
.hero {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 65px;
  @include responsive(md) {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
  }
  @include responsive(lg) {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
  }
}

.hero-01,
.hero-small {
  position: relative;
  margin: 15px;
  @include responsive(md) {
    margin: 0;
  }
  @include responsive(lg) {
    margin: 0;
  }
}

.hero-01 {
  grid-column: 1;
  grid-row: 1/3;
}

/* Big article in hero section*/
.mask-01 img,
.mask-01 {
  width: 510px;
  height: 375px;
  @include responsive(md) {
    width: 230px;
    height: 353px;
  }
  @include responsive(lg) {
    width: 360px;
    height: 560px;
  }
}

.mask-01 .post,
.mask-01 a img,
.mask .post,
.mask a img {
  padding: 0;
}

/* Small articles in hero section*/
.hero-small img,
.mask {
  width: 510px;
  height: 375px;
  @include responsive(md) {
    width: 230px;
    height: 169px;
  }
  @include responsive(lg) {
    width: 360px;
    height: 265px;
  }
}

.post-text-header {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 8px 8px;
  width: 510px;
  @include responsive(md) {
    width: 230px;
    padding: 0 0 15px 15px;
  }
  @include responsive(lg) {
    width: 360px;
    padding: 0 0 23px 20px;
  }
}

.post-text-header > p {
  font-weight: $font-weight;
  color: $color-text-light;
  display: block;
  @include responsive(md) {
    display: none;
  }
  @include responsive(lg) {
    display: block;
  }
}

.post-text-header h6 p {
  font-weight: bold;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: $font-size-hero-h6;
  line-height: $line-height-hero-h6;
  color: $color-text-light;
  width: 494px;
  height: 34px;
  margin: 0;
  @include responsive(md) {
    font-size: $font-size-hero-h6-md;
    line-height: $line-height-hero-h6-md;
    width: 200px;
    height: 57px;
  }
  @include responsive(lg) {
    font-size: $font-size-hero-h6-lg;
    line-height: $line-height-hero-h6-lg;
    width: 320px;
    height: 60px;
  }
}
