/*Popular posts */
.mpp {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 27px;
}

main .most_popular {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 40px;
  margin-bottom: 80px;
  @include responsive(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
  @include responsive(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  h6 {
    font-weight: bold;
    font-size: $font-size-hero-h6;
    line-height: $line-height-hero-h6;
    height: 20px;
    margin-top: 20px;
    overflow: hidden;
    @include responsive(md) {
      font-size: $font-size-hero-h6-md;
      line-height: $line-height-hero-h6-md;
    }
    @include responsive(lg) {
      font-size: $font-size-hero-h6-lg;
      line-height: $line-height-hero-h6-lg;
      height: 56px;
    }
  }

  p {
    margin-bottom: 0;
  }

  .popular_post {
    width: 540px;
    height: 480px;
    margin: 0;
    @include responsive(md) {
      width: 345px;
      height: 360px;
    }
    @include responsive(lg) {
      width: 262px;
      height: 298px;
    }

    img {
      width: 540px;
      height: 412px;
      @include responsive(md) {
        width: 345px;
        height: 249px;
      }
      @include responsive(lg) {
        width: 262px;
        height: 189px;
      }
    }

    a {
      margin: 0;
    }
  }
}
