/*Popular posts */
.mpp {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 27px;
}

.most_popular {
  box-sizing: content-box;
  height: auto;
  display: flex;
  margin-bottom: 80px;
}

.most_popular .col-sm-3 {
  padding: 0;
}

.most_popular h6 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  padding-right: 15px;
}
