* {
  box-sizing: border-box;
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color-text-dark;
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 5px;
}

p {
  line-height: 18px;
}

a:hover {
  text-decoration: none;
}

/* Logo  block in header and footer*/
.logo {
  padding: 36px 0;
}

/* Category symbol left upper corner in posts*/
.category {
  position: absolute;
  top: 8px;
  left: 8px;
  width: auto;
  height: 22px;
  line-height: 16px;
  background-color: $color-bg-category;
  color: $color-text-category;
  border-radius: 3px;
  font-size: 12px;
  padding: 4px 12px 2px 12px;
  @include responsive(md) {
    top: 15px;
    left: 15px;
  }
  @include responsive(lg) {
    top: 30px;
    left: 30px;
  }
}
