* {
  box-sizing: border-box;
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color-text-dark;
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 5px;
}

p {
  line-height: 18px;
}

a:hover {
  text-decoration: none;
}

/* Logo  block in header and footer*/
.logo {
  padding: 36px 0;
}

/* Category symbol left upper corner in posts*/
.category a {
  position: absolute;
  display: inline;
  top: 8px;
  left: 8px;
  width: auto;
  height: 18px;
  line-height: 16px;
  background-color: $color-bg-category;
  color: $color-text-light;
  border-radius: 3px;
  font-size: 10px;
  padding: 2px 10px;
  @include responsive(md) {
    top: 15px;
    left: 15px;
  }
  @include responsive(lg) {
    top: 30px;
    left: 30px;
    height: 22px;
    font-size: 12px;
    padding: 4px 12px 4px 12px;
  }
}

.category a:hover {
  color: $color-text-dark;
}
/* titles od the pages: Archive, Category, Articles*/
.pageTitles {
  color: $color-text-light;
  background-color: $color-bg-category;
  font-weight: bold;
  text-align: center;
  padding-top: 50%;
  margin: 0;
  border-radius: 0 0 5px 5px;
  font-size: $font-size;
  line-height: 17px;
  height: 31px;
  padding: 8px 0;
  @include responsive(md) {
    font-size: $font-size-h6-md;
    line-height: $line-height-h6-md;
    height: 51px;
    padding: 13px 0;
  }
  @include responsive(lg) {
    font-size: $font-size-h6-lg;
    line-height: $line-height-h6-lg;
    height: 80px;
    padding: 26px 0;
  }
}
