//Font
$font-family: "PT Sans", sans-serif;
$font-style: normal;
$font-weight: normal;
$font-size: 14px;
$font-size-h6-md: 20px;
$font-size-h6-lg: 25px;
$font-size-hero-h6: 14px;
$font-size-hero-h6-md: 15px;
$font-size-hero-h6-lg: 20px;
$line-height: 15px;
$line-height-h6-md: 25px;
$line-height-h6-lg: 28px;
$line-height-hero-h6: 17px;
$line-height-hero-h6-md: 27px;
$line-height-hero-h6-lg: 30px;

//colors
$color-text-dark: #171717;
$color-text-light: #ffffff;
$color-text-footer: #cecece;
$color-text-article: #666666;
$color-text-hover: #4a90e2;
$color-text-author-about: #999999;

$color-bg-category: #4a90e2;
$color-bg-header: #000000;
$color-bg-footer: #171717;
$color-bg-article: #ffffff;
$color-bg-tag: #ebebeb;
$color-bg-newsletter-input: #373737;

$color-icon: #929eaf;

$color-subscription-border: #e5e5e5;
$color-subscription-placeholder: #aeb3bb;
$color-subscribe-btn: #232323;
